[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
click = "*"
click-didyoumean = "*"
click-completion = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "sh -c 'pipenv run pytest tests && PYTHONPATH=. pipenv run python -m pynetest tests/pynetests'"
