[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
termcolor = "*"
click = "*"
click-didyoumean = "*"
click-completion = "*"

[dev-packages]

[requires]
python_version = "3"
