[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
click = "*"
click-didyoumean = "*"
click-completion = "*"

[dev-packages]
pytest = "*"
distributed = "*"

[requires]
python_version = "3.8"

[scripts]
#tests = "sh -c 'pipenv run pytest tests && PYTHONPATH=. pipenv run python -m pynetest tests/pynetests '"
tests = "sh -c 'pipenv run pytest tests && PYTHONPATH=. pipenv run python -m pynetest tests/pynetests && PYTHONPATH=. pipenv run python ./tests/pynetests/multiprocessing_test.py'"
